@media only screen and (min-width : 180px) {
#nav{
  background-color: #F8F8F8;
  border-bottom: 1px solid #EEEEEE;
}
#nav li{
  text-align: center;
}
}

@media only screen and (min-width : 768px) {
  #nav{
    background-color: transparent;
    border-bottom: none;
  }
  #nav li{
    text-align: right;
  }
}
