/*@media only screen and (min-width : 180px) {
#nav{
  background-color: #F8F8F8;
  border-bottom: 1px solid #EEEEEE;
}
#nav-item li{
  text-align: center;
}
}

@media only screen and (min-width : 768px) {
  #nav{
    background-color: transparent;
    border-bottom: none;
  }
  #nav-item li{
    text-align: right;
  }
}*/

.nav-link{
  color: black;
  /*text-shadow: 2px 2px #FFF;*/
}

.nav-link:hover{
  color: #CE6F2D;
}

.navbar {
    padding: 20px;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
}

.navbar-transparent{
    background-color: transparent;
    border: 0;
}

.navbar-darker{
  /*background-color: rgba(255, 255, 255, 0.6);*/
  /*background-color: rgba(0, 0, 0, 0.5);*/
  background-color: white;
  border-bottom: 1px solid #EEEEEE;
}

#logo_main{
  -webkit-transition: ease 1s;
}

.underline{
    text-decoration: underline;
    font-weight: bolder;
}

.btn-primary{
  background-color: #CE6F2D;
  border: 3px solid #CE6F2D;
  -webkit-transition: background .5s ease-in-out;
}

.btn-primary:hover{
  background-color: transparent;
  border: 3px solid #CE6F2D;
  color: #CE6F2D;
}
 #link_orgs{
   text-decoration:none; color: #CE6F2D;
 }

 .anno-cards{
   /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
 }
 .anno-cards-body{
    background-color: #fff; color: black;
 }

.btn-black-bordered{
  text-decoration: none; color: white; background-color: #333333; border: 2px solid #333333; border-bottom: 3px solid #CE6F2D;
}
.div-black-top-bordered{
  background-color: #333333; border-top:10px solid #CE6F2D; color: white;
}
.bold{
  font-weight: bolder;
}
#navbar_sub{
  background-color: white;
  border: 1px solid #EEEEEE;
}
